body {
    background-color: red;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8f2;
    color: #4a2c2a;
}

header {
    background-color: #f7c6c7;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

nav {
    background-color: #f4a6a8;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #b23a48;
}

.btn {
    display: inline-block;
    background-color: #b23a48;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
}

footer {
    background-color: #f7c6c7;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
